* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#particle-canvas {
    position: fixed;
    inset: 0;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 2;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #1f2933;
}

.content-box {
    background-color: #f5f7fa;
    width: 35em;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
}

.content-box h1 {
    font-size: 50px;
    color: #374151;
}

.content-box h3 {
    font-weight: 100;
    font-size: 15px;
    color: #6b7280;
}

.content-box h2 {
    font-size: 30px;
    color: #374151;
}

.content-box button {
    width: 272px;
    height: 50px;
    font-size: 1.1rem;
    border: none;
    background-color: #2563eb;
    border-radius: 10px;
    color: #ffffff;
    transition: transform .4s ease;
}

.content-box button:hover {
    cursor: pointer;
    transform: scale(1.05);
}