{% extends 'base.html' %}

{% block background %}
<div id="particle-canvas"></div>
{% endblock %}

{% block content %}
<div id="particle-canvas"></div>
<form method="post" class="card">
    <h1>Enter/Create RELAY Room</h1>
    <div class="name">
        <label>Name:</label>
        <input type="text" placeholder="Pick a name" name="name" value="{{name}}"/>
    </div>
    <div class="join">
        <label>Code:</label>
        <input type="text" placeholder="Room Code" name="code" value="{{code}}"/>
        <button type="submit" name="join">Join a Room</button>
    </div>
    <div class="or">
        <h3>or...</h3>
    </div>
    <button type="submit" name="create" class="create">Create a Room</button>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}